<div class="flx-v flx-justify-center flx-align-center">
  <div class="title mt-24">{{ apiUrl }}</div>
  <ng-container *ngIf="infoArray.length > 0">
    <div class="flx-h flx-justify-center container mt-24">
      <div class="flx-v flx-align-stretch info-container">
        <div
          class="flx-h pd-6 flx-justify-between flx-align-center info-row"
          *ngFor="let entry of infoArray"
        >
          <div class="mr-6">
            <strong>{{ entry[0] }}</strong>
          </div>
          <div class="info-txt">{{ entry[1] }}</div>
        </div>
      </div>
    </div>
    <div class="mt-24 info-container">
      <div
        class="info-row pd-6 flx-h flx-align-center flx-justify-center button"
        (click)="refresh()"
      >
        <span class="material-symbols-outlined"> refresh </span>
      </div>
    </div>
    <div class="mt-24 timestamp" *ngIf="refreshedAt !== null">
      {{ refreshedAt.toLocaleString("es-ES") }}
    </div>
    <div class="flx-h flx-justify-center container mt-24">
      <div class="flx-v flx-align-stretch info-container">
        <div
          class="flx-h pd-6 flx-justify-between flx-align-center info-row"
          *ngFor="let entry of urlArray"
        >
          <div class="mr-6">
            <strong>{{ entry[0] }}</strong>
          </div>
          <div class="info-txt">{{ entry[1] }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
